@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
body{
    font-family: Teko;
}

.teste{
    border: 1px solid green;
}

.teste2{
    border: 1px solid red;
}



li,a{
    list-style: none;
    text-decoration: none;
}
.container-pink{
    width: 100%;
    height: 30px;
    background-color: #F2BFBB;
}

.container{
    width: 100%;
    display: flex;
    justify-content: space-around;
    background: rgba(234, 242, 223, 0.67);
    box-shadow: 0px 5px 15px rgba(16, 16, 16, 0.25);
    
}

.logo{
    text-align: center;
     
}
 
.menu{
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu li{
    margin-left: 30px;
    font-size: 30px;
    margin: auto 30px;
    
}

.menu a{
    color: #000000;
}

.row{
    display: flex;
}

.column{
    display: flex;
    flex-direction: column;
}

.container-principal{
    width: 100%;
    height: 100vh;
    background-image: url(./img/fachadaPrincipal.png);
    background-repeat: no-repeat;
    padding-bottom: 180px;


    
    

}

.container-principal h1{
    font-family: Teko;
    font-style: normal;
    font-weight: 600;
    font-size: 75px;
    line-height: 90px;
    color: rgba(87, 4, 49, 0.95);
    margin-bottom: 0.5em;

}

.container-principal p{
    font-family: Teko;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 52px;
    letter-spacing: 0em;
    text-align: justify;
    color: #000000;
    margin-bottom: 0.5em;
    letter-spacing: -0.5px;

}

.container-principal button{
    background: #F5034E;
    border-radius: 10px;
    padding: 10px 20px 15px 20px;
    
}

.container-principal a{
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    text-align: left;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
}

.container-secundario{
    width: 800px;
    height: 500px;
    padding-top: 139px;
    padding-left: 96px;
}

.salvando-vidas{
    width: 100%;
    height: fit-content;
    font-family: Teko;
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 74px;
    text-align: center;
    color: #5D6799;
    padding-top: 1em;
}

.container-salvando-animais{
    display: flex;
    width: 100%;
    height: fit-content;
    margin-top: 30px;
    margin-bottom: 40px;
    justify-content: center;
    

}
.card{
    background: #FFFFFF;
    width: 250px;
    min-height: 300px;
    max-height: 80%;
    padding: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin-left: 30px;
}

.card p {
    font-family: Teko;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 112.3%;
    text-align: justify;
    letter-spacing: 0.005em;
    color: #000000;


}

.section{
    margin-top: 100px;
    background: #F6F6F6;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.vira-lata{
    padding: 30px;
    width: 100%;
    height: 600px;
    justify-content: center;
    
    
    
}
.texto{
    width: 40%;
}
.imagem{
    margin-left: 40px;
}



.vira-lata h2{
    font-family: Teko;
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 86px;
    color: #5D6799;
    
}

.vira-lata p{
    font-family: Teko;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 44px;
    text-align: justify;
    color: #000000;
    
}


